  * {
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
  }
  
  .navbar {
      background-color: black;
      color: white;
      padding: 25px 35px;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 98%;
  }
  
  .navbar .left h1 {
      position: relative;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
  }
  
  .navbar .right {
      display: flex;
      align-items: center;
  }
  
  .right .item {
      padding: 0px 20px;
  }
  
  .item a {
      text-decoration: none;
      color: white;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
  }
  
  .banner {
      background-color: black;
      color: white;
      padding: 90px 60px;
  }
  
  .banner .text h1 {
      font-weight: 700;
      font-size: 220px;
      line-height: 242px;
      margin: 0;
  }
  
  .banner .image {
      margin-top: -320px;
      margin-left: 1000px;
  }
  
  #about {
      display: flex;
      justify-content: space-between;
      padding: 50px 30px;
      margin: 180px 30px 0 30px;
  }
  
  #about .limg {
      width: 30%;
      padding: 50px;
      align-content: space-around
  }
  
  #about .rtext {
      width: 60%;
      padding: 50px;
      margin-left: 40px;
  }
  
  #about .rtext h1 {
      font-weight: 700;
      font-size: 100px;
      line-height: 121px;
  }
  
  #about .rtext p {
      padding-top: 20px;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
  }
  
  #service {
      margin: 50px 30px 0px 30px;
      padding: 50px 30px;
  }
  
  #service h1 {
      font-weight: 700;
      font-size: 100px;
      line-height: 121px;
      padding: 50px;
  }
  
  #service .flex-items {
      max-width: 90%;
      display: flex;
      padding: 50px;
      justify-content: space-between;
  }
  
  .flex-items .flex-item {
      width: 1200px;
      border: 2px solid black;
      margin: 10px 20px;
      line-height: 110px;
  }
  
  #service h2 {
      font-weight: 400;
      font-size: 50px;
      line-height: 61px;
      margin: 40px;
  }
  
  #service p {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      margin: 20px 40px;
  }
  
  #contact {
      margin: 50px 30px 0px 30px;
      background-color: black;
      color: white;
      text-align: center;
  }
  
  #contact h1 {
      font-weight: 700;
      font-size: 100px;
      line-height: 121px;
      text-align: center;
      padding-top: 100px;
  }
  
  .cform {
      background-color: black;
      margin-top: 30px;
  }
  
  input[type="text"],
  input[type="email"] {
      border: 1px solid white;
      background-color: black;
      color: white;
      width: 50%;
      height: 50px;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
  }
  
  input[type="button"] {
      width: 20%;
      height: 50px;
      color: black;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
      outline: none;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="date"]::placeholder {
      color: white;
  }